
body {
    margin: 0;
}

html {
    font-family: "Osaka", "Arial Narrow", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: rgba(102, 102, 101, 0.25);
}

main {
    margin-top: 70px;
}

.header {
    background-color: #334266;
    color: #ffffff;
    padding: 0;
    height: 50px;
    width: 100%;
}

#name {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding-top: 7px;
    padding-left: 10px;
    float: left;
    width: 160px;
    font-family: "papyrus", sans-serif;
}

#companies {
    white-space: normal;
    width: 100%;
    display: table-cell;

}

.logo {
    vertical-align: middle;
    padding: 10px;
    display: inline-table;
    margin: 0px;
}

.logo img {
    max-width: 100%;
}

#exp {
    color: #334266;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    padding-left: 10px;
    text-align: left;
}

#buttons {
    float: right;
    width: ;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
}

#Me {
    width: 100px;
    float: left;
    padding: 5px;
}

.myPic {
    border-radius: 35%;
    padding: 10px;
    padding-left: 20px;
}

#school {
    color: #334266;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    padding-left: 10px;
    text-align: left;
}

#skills {
    color: #334266;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    padding-left: 10px;
    text-align: left;
}