
body {
    margin: 0;
}

html {
    font-family: "Osaka", "Arial Narrow", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #666665;
}

.header {
    background-color: #334266;
    color: #ffffff;
    padding: 0;
    height: 50px;
    width: 100%;
}

#name {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    float: left;
    width: 38%;
    font-family: "papyrus", sans-serif;
}

#companies {
    white-space: nowrap;
    width: 100%;
    display: table-cell;

}

.logo {
    vertical-align: middle;
    padding: 10px;
    display: table-cell;
}

.logo img {
    max-width: 100%;
}

#exp {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
}

#buttons {
    float: right;
    width: 38%;
    text-align: right;
    padding: 5px;
}

#Me {
    width: 22%;
    float: left;
    padding: 5px;
}

.myPic {
    border-radius: 35%;
    padding: 10px;
    padding-left: 20px;
}