
#matt-beach {
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.button {
    background-color: dodgerblue;
    box-shadow: 0px 6px 5px black;
    border-radius: 20px;
    margin-right: 20px;
    color: white;
    font-size: medium;
    padding: 10px;
}

#header {
    font-size: 40px; font-family: Tahoma; font-weight: bold; padding-top: 20px;
}

#footer {
    position: inherit;
    bottom:0;
    width:99%;
    height:30px;
}

#navbar {

}

#h1 {
    font-family: 'Indie Flower', normal400;
    text-shadow: -1px 0 black, 0 1px black, 1 px 0 black, 0 -1px black;
}

.p {
    text-shadow: -1px 0 black, 0 1px black, 1 px 0 black, 0 -1px black;
}

body {
    background: url(images/matt-beach.jpg) no-repeat top left;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    background-attachment: fixed;
    color: black;
}

#email{
    color: blue;
}

@keyframes mypic {
    from {opacity: 0.0}
    to {opacity: 1.0}
}

#mypic {
    animation-name: mypic;
    transition-delay: 2s;
    animation-duration: 3s;
    animation-timing-function: ease;
    width: 200px;
    height: 225px;
}

#mypic:hover {
    width: 500px;
    height: 562px;
}

@media screen and (max-width: 1000px) {
    body {
    background-color: red;
    }
}

.label1 {
    padding-right: 50px;
}

.wrapper {
    display: flex;
    display: -webkit-flex;
    width: 1000px;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    flex-direction: row;
}

#feedback {
    font-size: 22px;
}